<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>

    response ex01파일입니다

    <a href="ex02">모델전달자</a>
    <a href="ex03">모델엔뷰객체</a>
    <a href="ex04?id=a123">모델어노테이션</a>

    <form action="ex05" method="post">
        id:<input type="text" name="id"><br>
        pw:<input type="password" name="pw"><br>
        <input type="submit" value="확인">
    </form>

</body>
</html>