<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <pre>
        1.QuizController에 화면처리 메서드 생성
        2.폼 처리 메서드 생성
        3.입력한 정보를 ok 화면에 출력
        4.처리 방법 자유
        </pre>
    <h2>회원가입</h2>
    <form action="join" method="post">
        아이디:<input type="text" name="id"><br>
        비밀번호:<input type="password" name="pw"><br>
        이메일:<input type="email" name="email"><br>
        정보이용동의:
        <input type="radio" name="agree" value="y">예
        <input type="radio" name="agree" value="n">아니오

        <input type="submit" value="회원가입">
    </form>


</body>
</html>