<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>인증만 되면 들어올 수 있는 곳</h3>
	
	타임리프 안되면 = 트러블슈팅
	implementation 'org.thymeleaf.extras:thymeleaf-extras-springsecurity5'

    <!-- 인증되었으면 true, 그렇지 false-->
    <div sec:authorize="isAuthenticated()">
        [[${ #authentication.principal }]]<br>
        [[${ #authentication.principal.username }]]<br>
        [[${ #authentication.principal.password }]]<br>
        [[${ #authentication.principal.role }]]<br>
    </div>






</body>
</html>