<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quiz01</title>
</head>
<body>

    <!--
    1. RequestController에 이 파일을 화면처리하는 메서드 생성
    2. 폼 전송을 받아줄 수 있는 메서드 생성
    3. 아이디가 abc123, 비밀번호가 xxx123이면 "로그인 성공"이라고 가정
    4. 성공시 quiz01_ok페이지로, 실패시 quiz01_no 페이지로 이동
    5. 값을 받는 방식은 본인 자유.
    -->

    <form action="login" method="post">
        id:<input type="text" name="id"><br>
        pw:<input type="password" name="pw"><br>
        <input type="submit" value="로그인">
    </form>

</body>
</html>