<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.notice.NoticeMapper">

    <insert id="noticeRegist" parameterType="NoticeVO">
        INSERT INTO NOTICE (NOTICE_PROD,
                            NOTICE_WRITER,
                            NOTICE_NICK,
                            NOTICE_TITLE,
                            NOTICE_CONTENT,
                            NOTICE_YN,
                            NOTICE_REGDATE)
        VALUES (#{noticeProd},
                #{noticeWriter},
                #{noticeNick},
                #{noticeTitle},
                #{noticeContent},
                #{noticeYn},
                NOW())
    </insert>

</mapper>