<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.product.ProductMapper">

    <insert id="prodRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,
                            PROD_CATEGORY,
                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT)
        VALUES(#{prodEnddate},
               #{prodCategory},
               #{prodWriter},
               #{prodName},
               #{prodPrice},
               #{prodCount},
               #{prodDiscount},
               #{prodPurchaseYn},
               #{prodContent},
               #{prodComment}
              )
    </insert>

    <!--
        insert 전 or 후에 특정 테이블의 키값을 얻을 때 사용
        order = before, after
        keyProperty = 조회한 키를 저장할 멤버변수
        resultType = 반환타입
    -->
    <insert id="fileRegist" parameterType="ProductUploadVO">
        <selectKey order="BEFORE" resultType="long" keyProperty="prodId">
            SELECT MAX(PROD_ID) FROM PRODUCT WHERE PROD_WRITER = #{prodWriter}
        </selectKey>

    INSERT INTO PRODUCT_UPLOAD(
            FILENAME,
            FILEPATH,
            UUID,
            PROD_ID,
            PROD_WRITER
        )
        VALUES (
            #{filename},
            #{filepath},
            #{uuid},
            #{prodId},
            #{prodWriter}
        )
    </insert>

    <!-- 파라미터가 2개 이상이면 paramType 생략-->
    <!--
        동적쿼리 구문
        if, choose, foreach가 있음
        if구문의 test에는 getter명이 들어갈 수 있음.
    -->
    <select id="getList" resultType="ProductVO" >
        SELECT *
        FROM PRODUCT P
        LEFT JOIN (SELECT CONCAT(A1.group_ID, A1.CATEGORY_ID) AS CATEGORY_KEY, ##카테고리 키 (그룹 + 키 형태로 카테고리분류)
        CASE A1.category_parent_LV WHEN 0 THEN A1.category_detail_NM
        WHEN 1 THEN CONCAT(A2.category_detail_NM,' > ', A1.category_detail_NM)
        WHEN 2 THEN CONCAT(A3.category_detail_NM, ' > ', A2.category_detail_NM,' > ', A1.category_detail_NM)
        END as CATEGORY_NAV
        FROM PRODUCT_CATEGORY A1
        LEFT OUTER JOIN PRODUCT_CATEGORY A2
        ON A1.CATEGORY_PARENT_LV = A2.CATEGORY_LV AND A1.CATEGORY_DETAIL_PARENT_LV = A2.CATEGORY_DETAIL_LV AND A1.GROUP_ID = A2.GROUP_ID
        LEFT OUTER JOIN PRODUCT_CATEGORY A3
        ON A2.CATEGORY_PARENT_LV = A3.CATEGORY_LV AND A2.CATEGORY_DETAIL_PARENT_LV = A3.CATEGORY_DETAIL_LV
        ORDER BY CATEGORY_NAV ASC) X
        ON P.PROD_CATEGORY = X.CATEGORY_KEY
        WHERE PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            AND PROD_NAME LIKE CONCAT('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            AND PROD_CONTENT LIKE CONCAT('%', #{cri.searchContent}, '%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            AND PROD_ENDDATE >= #{cri.startDate}
            ]]>
        </if>
        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            AND PROD_ENDDATE <= #{cri.endDate}
            ]]>
        </if>

        ORDER BY
        <if test="cri.searchPrice == 'asc'">
            PROD_PRICE ASC,
        </if>
        <if test="cri.searchPrice == 'desc'">
            PROD_PRICE DESC,
        </if>
        PROD_ID DESC

        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int" parameterType="string">
        SELECT COUNT(*) AS total
        FROM PRODUCT
        WHERE PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            AND PROD_NAME LIKE CONCAT('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            AND PROD_CONTENT LIKE CONCAT('%', #{cri.searchContent}, '%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            AND PROD_ENDDATE >= #{cri.startDate}
            ]]>
        </if>
        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            AND PROD_ENDDATE <= #{cri.endDate}
            ]]>
        </if>
    </select>

    <select id="getDetail" parameterType="long">
        SELECT *
        FROM PRODUCT P
        LEFT JOIN (SELECT CONCAT(A1.group_ID, A1.CATEGORY_ID) AS CATEGORY_KEY, ##카테고리 키 (그룹 + 키 형태로 카테고리분류)
                                CASE A1.category_parent_LV WHEN 0 THEN A1.category_detail_NM
        WHEN 1 THEN CONCAT(A2.category_detail_NM,' > ', A1.category_detail_NM)
        WHEN 2 THEN CONCAT(A3.category_detail_NM, ' > ', A2.category_detail_NM,' > ', A1.category_detail_NM)
        END as CATEGORY_NAV
                            FROM PRODUCT_CATEGORY A1
                                LEFT OUTER JOIN PRODUCT_CATEGORY A2
                            ON A1.CATEGORY_PARENT_LV = A2.CATEGORY_LV AND A1.CATEGORY_DETAIL_PARENT_LV = A2.CATEGORY_DETAIL_LV AND A1.GROUP_ID = A2.GROUP_ID
                                LEFT OUTER JOIN PRODUCT_CATEGORY A3
                                ON A2.CATEGORY_PARENT_LV = A3.CATEGORY_LV AND A2.CATEGORY_DETAIL_PARENT_LV = A3.CATEGORY_DETAIL_LV
                            ORDER BY CATEGORY_NAV ASC) X
        ON P.PROD_CATEGORY = X.CATEGORY_KEY
        WHERE PROD_ID = #{prodId}
    </select>

    <select id="getDetailFile" resultType="ProductUploadVO">
        SELECT * FROM PRODUCT_UPLOAD WHERE PROD_ID = #{prodId}
    </select>

    <update id="prodUpdate" parameterType="ProductVO">
        UPDATE PRODUCT
        SET PROD_ENDDATE = #{prodEnddate},
            PROD_NAME = #{prodName},
            PROD_PRICE = #{prodPrice},
            PROD_COUNT = #{prodCount},
            PROD_DISCOUNT = #{prodDiscount},
            PROD_PURCHASE_YN = #{prodPurchaseYn},
            PROD_CONTENT = #{prodContent},
            PROD_COMMENT = #{prodComment}
        WHERE PROD_ID = #{prodId}
    </update>

    <delete id="prodDelete" parameterType="long">
        DELETE FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </delete>

    <!-- 1단 카테고리 -->
    <select id="getCategory" resultType="CategoryVO">
        SELECT *
        FROM PRODUCT_CATEGORY
        WHERE CATEGORY_LV = 1;
    </select>

    <select id="getCategoryChild" resultType="CategoryVO">
        SELECT *
        FROM PRODUCT_CATEGORY
        WHERE GROUP_ID = #{groupId}
        AND CATEGORY_PARENT_LV = #{categoryLv}
        AND CATEGORY_DETAIL_PARENT_LV = #{categoryDetailLv}
    </select>

    <!-- ========= 조인 연습 ========= -->
    <!--
        id - 연결될 resultMap 이름
        type - 반환타입
        property - 멤버변수명
        column - 컬럼명
    -->
    <resultMap id="manyToOneResult" type="DemoOrderVO">
        <result column="oid" property="oId" />
        <result column="mid" property="mId" />
        <result column="product_name" property="productName" />
        <association property="memberVO">
            <result column="mId" property="mId"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="manyToOne" resultMap="manyToOneResult">
        SELECT *
        FROM DEMO_ORDER O
        LEFT JOIN DEMO_MEMBER M
        ON O.MID = M.MID;
    </select>

    <!-- 1:N조인 -->
    <resultMap id="oneToManyResult" type="DemoMemberVO">
        <result column="mid" property="mId" />
        <result column="name" property="name" />
        <collection property="orderVO" ofType="DemoOrderVO">
            <result column="oId" property="oId" />
            <result column="mId" property="mId" />
            <result column="product_name" property="productName" />
        </collection>
    </resultMap>

    <select id="oneToMany" resultMap="oneToManyResult">
        SELECT *
        FROM DEMO_MEMBER M
        LEFT JOIN DEMO_ORDER O
        ON O.MID = M.MID
        WHERE M.MID = 1
    </select>

</mapper>