<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.product.ProductMapper">

    <insert id="prodRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,
                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT)
        VALUES(#{prodEnddate},
               #{prodWriter},
               #{prodName},
               #{prodPrice},
               #{prodCount},
               #{prodDiscount},
               #{prodPurchaseYn},
               #{prodContent},
               #{prodComment}
              )
    </insert>

    <select id="getList" resultType="ProductVO" parameterType="string">
        SELECT *
        FROM PRODUCT
        WHERE PROD_WRITER = #{prodWriter}
        ORDER BY PROD_ID DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getDetail" parameterType="long">
        SELECT *
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </select>

    <update id="prodUpdate" parameterType="ProductVO">
        UPDATE PRODUCT
        SET PROD_ENDDATE = #{prodEnddate},
            PROD_NAME = #{prodName},
            PROD_PRICE = #{prodPrice},
            PROD_COUNT = #{prodCount},
            PROD_DISCOUNT = #{prodDiscount},
            PROD_PURCHASE_YN = #{prodPurchaseYn},
            PROD_CONTENT = #{prodContent},
            PROD_COMMENT = #{prodComment}
        WHERE PROD_ID = #{prodId}
    </update>

    <delete id="prodDelete" parameterType="long">
        DELETE FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </delete>

</mapper>