<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.product.ProductMapper">

    <insert id="prodRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,
                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT)
        VALUES(#{prodEnddate},
               #{prodWriter},
               #{prodName},
               #{prodPrice},
               #{prodCount},
               #{prodDiscount},
               #{prodPurchaseYn},
               #{prodContent},
               #{prodComment}
              )
    </insert>

    <!-- 파라미터가 2개 이상이면 paramType 생략-->
    <!--
        동적쿼리 구문
        if, choose, foreach가 있음
        if구문의 test에는 getter명이 들어갈 수 있음.
    -->
    <select id="getList" resultType="ProductVO">
        SELECT *
        FROM PRODUCT
        WHERE PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            AND PROD_NAME LIKE CONCAT('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            AND PROD_CONTENT LIKE CONCAT('%', #{cri.searchContent}, '%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            AND PROD_ENDDATE >= #{cri.startDate}
            ]]>
        </if>
        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            AND PROD_ENDDATE <= #{cri.endDate}
            ]]>
        </if>

        ORDER BY
        <if test="cri.searchPrice == 'asc'">
            PROD_PRICE ASC,
        </if>
        <if test="cri.searchPrice == 'desc'">
            PROD_PRICE DESC,
        </if>
        PROD_ID DESC

        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int" parameterType="string">
        SELECT COUNT(*) AS total
        FROM PRODUCT
        WHERE PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            AND PROD_NAME LIKE CONCAT('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            AND PROD_CONTENT LIKE CONCAT('%', #{cri.searchContent}, '%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            AND PROD_ENDDATE >= #{cri.startDate}
            ]]>
        </if>
        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            AND PROD_ENDDATE <= #{cri.endDate}
            ]]>
        </if>
    </select>

    <select id="getDetail" parameterType="long">
        SELECT *
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </select>

    <update id="prodUpdate" parameterType="ProductVO">
        UPDATE PRODUCT
        SET PROD_ENDDATE = #{prodEnddate},
            PROD_NAME = #{prodName},
            PROD_PRICE = #{prodPrice},
            PROD_COUNT = #{prodCount},
            PROD_DISCOUNT = #{prodDiscount},
            PROD_PURCHASE_YN = #{prodPurchaseYn},
            PROD_CONTENT = #{prodContent},
            PROD_COMMENT = #{prodComment}
        WHERE PROD_ID = #{prodId}
    </update>

    <delete id="prodDelete" parameterType="long">
        DELETE FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </delete>

</mapper>