<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.topic.TopicMapper">

    <insert id="topicRegist" parameterType="TopicVO">
        INSERT INTO TOPIC (TOPIC_TITLE,
                           TOPIC_CONTENT,
                           TOPIC_WRITER,
                           TOPIC_REGDATE,
                           TOPIC_HIT)
        VALUES (#{topicTitle},
                #{topicContent},
                #{topicWriter},
                NOW(),
                0)
    </insert>

    <select id="getList" resultType="TopicVO" parameterType="string">
        SELECT *
        FROM TOPIC
        WHERE TOPIC_WRITER = #{param1}  ORDER BY TOPIC_ID DESC
            LIMIT 0,10
    </select>

    <select id="getDetail" parameterType="long" resultType="TopicVO">
        SELECT *
        FROM TOPIC
        WHERE TOPIC_ID = #{param1}
    </select>

    <update id="topicUpdate" parameterType="TopicVO">
        UPDATE TOPIC
        SET TOPIC_TITLE = #{topicTitle},
            TOPIC_CONTENT = #{topicContent},
            TOPIC_UPDATEDATE = NOW()
        WHERE TOPIC_ID = #{topicId}
    </update>

    <delete id="topicDelete" parameterType="long">
        DELETE FROM TOPIC
        WHERE TOPIC_ID = #{topicId}
    </delete>

</mapper>