<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>파일 업로드</h3>

    <!--enctype 반드시 필수 -->
    <form action="upload_ok" method="post" enctype="multipart/form-data">
        파일태그: <input type="file" name="file">
        <input type="submit" value="업로드">
    </form>

    <!-- 여러파일 업로드 multiple옵션 - 컨트롤클릭으로 -->
    <form action="upload_ok2" method="post" enctype="multipart/form-data">
        파일태그: <input type="file" name="file" multiple>
        <input type="submit" value="업로드">
    </form>


    <!-- 여러파일 업로드2 -->
    <form action="upload_ok3" method="post" enctype="multipart/form-data">
        파일태그: <input type="file" name="file">
        파일태그: <input type="file" name="file">
        파일태그: <input type="file" name="file">
        파일태그: <input type="file" name="file">
        <input type="submit" value="업로드">
    </form>


    <!-- 비동기 유형의 업로드 -->
    <h3>비동기업로드 예제</h3>
    <input type="file" name="my_file" id="my_file">
    <button type="button" id="btn">파일전송</button>

    <script>
        let btn = document.getElementById("btn");
        btn.addEventListener("click", function() {

            //파일업로드 비동기
            //폼객체 생성, 타입: 멀티파트
            let myFile = document.getElementById("my_file");
            let formData = new FormData();
            formData.append("file",  myFile.files[0]); //<--얘가 인풋태그의 파일데이터

            fetch("upload_ok4", {
                method: "post",
                body: formData
            })
            .then( response => response.text() )
            .then( data => console.log(data) )

        })





    </script>


</body>
</html>